In [222]:

import mysql
import mysql.connector
import csv
import pandas as pd
import numpy as np
import scipy
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_recall_fscore_support

cnx = mysql.connector.connect(user='ctsimaan',password='SeniorProject490',
                              host='nostradomicile-data.c6x7vypetdqh.us-west-2.rds.amazonaws.com',
                              database='PyZillow_Data')
cursor = cnx.cursor()

In [223]:
df_pd = pd.read_sql('SELECT*FROM PyZillow_Data.home_data Where zip = 27705', con=cnx)
frames = [df_pd,df_pd]
df_pd = pd.concat(frames)

print ('loaded dataframe from MySQL. records:', len(df_pd))
print(df_pd)

('loaded dataframe from MySQL. records:', 712)
              street_address    zip    city state      home_type  bedrooms  \
0                1 Dinara Dr  27705  Durham    NC    Condominium         3
1          10 Blue Bottle Ln  27705  Durham    NC  Miscellaneous         3
2            10 Marchmont Ct  27705  Durham    NC   SingleFamily         3
3              10 Windrow Pl  27705  Durham    NC   SingleFamily         4
4           100 Solterra Way  27705  Durham    NC   SingleFamily         3
5          100 Sturdivant Rd  27705  Durham    NC   SingleFamily         4
6          1001 Rosehill Ave  27705  Durham    NC   SingleFamily         3
7           1009 Oakland Ave  27705  Durham    NC   SingleFamily         4
8          1009 Rosehill Ave  27705  Durham    NC   SingleFamily         3
9         101 Brook Chase Ln  27705  Durham    NC   SingleFamily         5
10          101 Hay Sedge Ct  27705  Durham    NC   SingleFamily         4
11             1010 E Oak Dr  27705  Durham    NC   SingleFamily         3
12           1010 Kimball Dr  27705  Durham    NC   SingleFamily         4
13          1011 Alabama Ave  27705  Durham    NC   SingleFamily         3
14   1015 Greens At Pleasant  27705  Durham    NC   SingleFamily         3
15           1015 Iredell St  27705  Durham    NC   SingleFamily         3
16       102 Salmon River Dr  27705  Durham    NC    Condominium         3
17          103 Hay Sedge Ct  27705  Durham    NC   SingleFamily         4
18              1030 Rees Ln  27705  Durham    NC   SingleFamily         3
19           1038 Kimball Dr  27705  Durham    NC   SingleFamily         4
20            104 Fox Run Ct  27705  Durham    NC   SingleFamily         4
21          104 Solterra Way  27705  Durham    NC   SingleFamily         3
22         104 Sturdivant Rd  27705  Durham    NC   SingleFamily         4
23          105 Hay Sedge Ct  27705  Durham    NC   SingleFamily         5
24       106 Constitution Dr  27705  Durham    NC      Townhouse         3
25               108 Few Cir  27705  Durham    NC   SingleFamily         4
26            108 Fox Run Ct  27705  Durham    NC   SingleFamily         4
27         11 Blue Bottle Ln  27705  Durham    NC   SingleFamily         3
28         11 Chimney Top Ct  27705  Durham    NC   SingleFamily         4
29            11 Drucilla Ct  27705  Durham    NC   SingleFamily         3
..                       ...    ...     ...   ...            ...       ...
326           5304 Kerley Rd  27705  Durham    NC   SingleFamily         3
327      5329 Emeraldwood Dr  27705  Durham    NC   SingleFamily         3
328           5516 Jomali Dr  27705  Durham    NC   SingleFamily         3
329          5907 Willett Rd  27705  Durham    NC   SingleFamily         3
330           6 Brunswick Ct  27705  Durham    NC   SingleFamily         4
331                6 York Ct  27705  Durham    NC   SingleFamily         3
332     6002 Dickson Mill Rd  27705  Durham    NC   SingleFamily         4
333         601 Harkness Cir  27705  Durham    NC   SingleFamily         3
334         605 Harkness Cir  27705  Durham    NC   SingleFamily         4
335           613 Clarion Dr  27705  Durham    NC   SingleFamily         3
336             7 Big Oak Ct  27705  Durham    NC   SingleFamily         3
337         7 Bunker Hill Pl  27705  Durham    NC   SingleFamily         4
338              7 Dinara Dr  27705  Durham    NC    Condominium         3
339              7 Pilton Pl  27705  Durham    NC   SingleFamily         3
340            709 Bolton St  27705  Durham    NC   SingleFamily         3
341            718 Duluth St  27705  Durham    NC   SingleFamily         3
342           8 Minuteman Ct  27705  Durham    NC   SingleFamily         3
343             8 Wyndham Pl  27705  Durham    NC   SingleFamily         4
344             806 E Oak Dr  27705  Durham    NC   SingleFamily         4
345             807 E Oak Dr  27705  Durham    NC  Miscellaneous         4
346        812 Sedgefield St  27705  Durham    NC      Townhouse         3
347           820 Kimball Dr  27705  Durham    NC   SingleFamily         4
348           9 Bentgrass Ln  27705  Durham    NC   SingleFamily         4
349         9 Blue Bottle Ln  27705  Durham    NC   SingleFamily         3
350           9 Loch Ness Ct  27705  Durham    NC   SingleFamily         4
351         901 Carolina Ave  27705  Durham    NC   SingleFamily         4
352         906 Rosehill Ave  27705  Durham    NC   SingleFamily         3
353          914 Alabama Ave  27705  Durham    NC   SingleFamily         3
354           916 Kimball Dr  27705  Durham    NC   SingleFamily         4
355         923 Carolina Ave  27705  Durham    NC   SingleFamily         3

     bathrooms  finished_sq_footage  lot_size_sq_footage  year_built  \
0          3.0                 1830               2875.0      2013.0
1          3.0                 1754               7275.0      1998.0
2          3.0                 3132               9147.0      1988.0
3          3.0                 3745              42602.0      1995.0
4          2.0                 1975               7405.0      1999.0
5          4.0                 3127              16552.0      2000.0
6          3.0                 2158               8624.0      1955.0
7          2.0                 1938               8625.0      1925.0
8          1.0                 1350            2190632.0      1920.0
9          3.0                 3456               6926.0      2006.0
10         3.0                 2500               6534.0      2007.0
11         3.0                 2126              16117.0      1999.0
12         3.0                 3389              20081.0      1987.0
13         3.0                 1889               7840.0      1927.0
14         2.0                 1761             101930.0      2002.0
15         2.0                 1485               6969.0      1929.0
16         4.0                 1965               2134.0      2011.0
17         3.0                 3076               7840.0      2007.0
18         2.0                 2484                  NaN      2002.0
19         3.0                 3210              20473.0      1987.0
20         3.0                 2880               6969.0      2009.0
21         2.0                 1670               7840.0      1998.0
22         4.0                 3048              16988.0      2000.0
23         3.0                 2901              13504.0      2007.0
24         3.0                 1850               2352.0      2015.0
25         3.0                 3254              12196.0      2006.0
26         3.0                 2590               6960.0      2009.0
27         2.0                 1846               8059.0      2000.0
28         3.0                 2370              19950.0      1987.0
29         3.0                 2745              23522.0      1992.0
..         ...                  ...                  ...         ...
326        3.0                 1956             130680.0      1959.0
327        2.0                 1859              87120.0      1998.0
328        2.0                 2322              49658.0      2001.0
329        3.0                 1800              87556.0      1985.0
330        3.0                 2689              16552.0      1989.0
331        2.0                 1400              10018.0      1985.0
332        3.0                 2259              82764.0      1983.0
333        2.0                 2428              14374.0      2007.0
334        3.0                 3200              15681.0      2007.0
335        3.0                 2438              24393.0      1987.0
336        3.0                 1838              20386.0      1999.0
337        3.0                 2774              17685.0      1984.0
338        3.0                 1830               3311.0      2012.0
339        3.0                 3122               8058.0      1988.0
340        1.0                 1140               9453.0      1920.0
341        3.0                 3001              16552.0      1988.0
342        3.0                 2291              10106.0      1994.0
343        3.0                 2830              16988.0      1989.0
344        3.0                 2547              16117.0      2001.0
345        NaN                 2526              12850.0      1997.0
346        3.0                 1999               2352.0      2001.0
347        3.0                 2776              22172.0      1986.0
348        4.0                 3552              30404.0      1987.0
349        2.0                 1647               7754.0      2003.0
350        3.0                 2597              33976.0      1988.0
351        2.0                 2467              10324.0      1900.0
352        2.0                 2450               7405.0      1930.0
353        3.0                 1682               3920.0      1930.0
354        3.0                 2800              20430.0      1985.0
355        2.0                 1626              12153.0      1909.0

        ...             neighborhood  school_district sold_binary  \
0       ...                     None             None           0
1       ...                     None             None           0
2       ...                     None             None           0
3       ...                     None             None           0
4       ...                     None             None           0
5       ...                     None             None           0
6       ...                     None             None           0
7       ...                     None             None           0
8       ...                     None             None           0
9       ...                     None             None           0
10      ...       124 - North Durham             None           1
11      ...                     None             None           1
12      ...                     None             None           1
13      ...                     None             None           1
14      ...                     None             None           0
15      ...                     None             None           0
16      ...                     None             None           1
17      ...                     None             None           0
18      ...                     None             None           1
19      ...                     None             None           1
20      ...                     None             None           1
21      ...                     None             None           0
22      ...                     None             None           0
23      ...                     None             None           1
24      ...                     None             None           1
25      ...                     None             None           0
26      ...                     None             None           0
27      ...                     None             None           0
28      ...                     None             None           1
29      ...                     None             None           0
..      ...                      ...              ...         ...
326     ...                     None             None           0
327     ...                     None             None           1
328     ...                     None             None           1
329     ...                     None             None           0
330     ...                     None             None           0
331     ...                     None             None           1
332     ...                     None             None           1
333     ...                     None             None           1
334     ...                     None             None           0
335     ...                     None             None           0
336     ...                     None             None           1
337     ...                     None             None           1
338     ...                     None             None           0
339     ...                     None             None           1
340     ...                     None             None           0
341     ...                     None             None           0
342     ...                     None             None           1
343     ...                     None             None           0
344     ...                     None             None           0
345     ...                     None             None           0
346     ...                     None             None           0
347     ...                     None             None           1
348     ...                     None             None           1
349     ...                     None             None           0
350     ...                     None             None           0
351     ...                     None             None           0
352     ...                     None             None           1
353     ...                     None             None           0
354     ...                Waterford             None           0
355     ...                     None             None           1

    last_sold_date last_sale_price  \
0       07/31/2015        262500.0
1       07/14/2014        350000.0
2       07/29/2014        290000.0
3       04/01/2015        320000.0
4       07/16/2015        342500.0
5       06/19/2015        320000.0
6       10/28/2015        389000.0
7       09/30/2015        310000.0
8       11/19/2015        312500.0
9       03/13/2015        270000.0
10      05/06/2016        268000.0
11      08/12/2016        275000.0
12      04/27/2016        362500.0
13      01/13/2016        300000.0
14            None             NaN
15            None             NaN
16      05/19/2016        270500.0
17      11/24/2015        272000.0
18      12/20/2016        379000.0
19      01/05/2017        351000.0
20      01/25/2016        283000.0
21      04/03/2014        260000.0
22      08/01/2014        342000.0
23      09/15/2016        283000.0
24      05/05/2016        260000.0
25      08/03/2015        351000.0
26      11/21/2014        263500.0
27      07/20/2015        384000.0
28      02/03/2016        335000.0
29      07/15/2014        314000.0
..             ...             ...
326     10/21/2014        275000.0
327     07/01/2016        270000.0
328     06/06/2016        360000.0
329     05/01/2015        300000.0
330     05/13/2014        275000.0
331     08/04/2016        164500.0
332     03/24/2016        277000.0
333     06/01/2016        345000.0
334     06/12/2014        357000.0
335     07/20/2015        280000.0
336     01/06/2017        280000.0
337     06/30/2016        275000.0
338     07/31/2015        264000.0
339     02/07/2017        321500.0
340     03/31/2014        310000.0
341     09/19/2014        275000.0
342     05/25/2016        289000.0
343     08/19/2014        275000.0
344     06/03/2014        320000.0
345     07/02/2015        300000.0
346     07/08/2014        350000.0
347     02/26/2016        295000.0
348     08/22/2016        380000.0
349     08/08/2014        320000.0
350     12/10/2015        310000.0
351     12/07/2015        340000.0
352     10/26/2016        343000.0
353     04/17/2015        390000.0
354     07/24/2015        281500.0
355     11/14/2016        326000.0

                                            appliances        roof_type  \
0    Dishwasher, Dryer, Garbage disposal, Microwave...  Shake / Shingle
1                                                 None             None
2                                                 None            Other
3                                                 None             None
4                                                 None             None
5    Dryer, Dishwasher, Refrigerator, Microwave, Ga...             None
6    Dishwasher, Dryer, Garbage disposal, Range / O...  Shake / Shingle
7    Dishwasher, Dryer, Freezer, Range / Oven, Refr...             None
8                                                 None             None
9                                                 None             None
10       Dryer, Dishwasher, Refrigerator, Range / Oven  Shake / Shingle
11   Garbage disposal, Refrigerator, Washer, Dishwa...             None
12                Microwave, Washer, Dishwasher, Dryer          Asphalt
13                                                None             None
14                                                None             None
15                                                None             None
16                                                None  Shake / Shingle
17   Garbage disposal, Microwave, Refrigerator, Was...             None
18          Microwave, Refrigerator, Dishwasher, Dryer  Shake / Shingle
19                                                None             None
20                                                None             None
21   Dryer, Dishwasher, Refrigerator, Range / Oven,...            Other
22   Dishwasher, Dryer, Garbage disposal, Microwave...            Other
23                                                None             None
24                                                None             None
25   Dryer, Dishwasher, Refrigerator, Range / Oven,...            Other
26   Dishwasher, Dryer, Garbage disposal, Microwave...            Other
27                        Garbage disposal, Dishwasher             None
28                                          Dishwasher  Shake / Shingle
29   Dishwasher, Refrigerator, Range / Oven, Microw...            Other
..                                                 ...              ...
326                Dishwasher, Refrigerator, Microwave            Other
327                                               None             None
328                                 Washer, Dishwasher             None
329                                               None  Shake / Shingle
330  Dishwasher, Range / Oven, Microwave, Garbage d...            Other
331                                               None             None
332                                               None             None
333                                               None             None
334  Dryer, Dishwasher, Refrigerator, Range / Oven,...            Other
335  Dishwasher, Refrigerator, Range / Oven, Microwave  Shake / Shingle
336                                               None            Other
337                                               None             None
338                                               None             None
339  Microwave, Range / Oven, Refrigerator, Washer,...             None
340                                               None             None
341  Dryer, Dishwasher, Refrigerator, Range / Oven,...            Other
342  Garbage disposal, Range / Oven, Washer, Dishwa...             None
343  Dishwasher, Refrigerator, Range / Oven, Garbag...            Other
344  Dishwasher, Range / Oven, Microwave, Garbage d...            Other
345                   Dishwasher, Range / Oven, Washer            Other
346                                               None            Other
347                                               None             None
348             Range / Oven, Refrigerator, Dishwasher             None
349                                               None             None
350     Dishwasher, Refrigerator, Range / Oven, Washer             None
351  Dishwasher, Dryer, Range / Oven, Refrigerator,...            Metal
352          Range / Oven, Refrigerator, Washer, Dryer             None
353  Dishwasher, Refrigerator, Range / Oven, Garbag...            Metal
354  Dishwasher, Dryer, Garbage disposal, Microwave...  Shake / Shingle
355                                               None  Shake / Shingle

                                            room_types updated_properties  \
0    Breakfast nook, Dining room, Family room, Laun...                  1
1    Breakfast nook, Family room, Laundry room, Office                  1

In [224]:
new = df_pd.filter(['sold_binary', 'home_type', 'bedrooms', 'bathrooms', 'finished_sq_footage',
       'lot_size_sq_footage','year_built','last_sale_price','neighborhood', 'school_district'], axis = 1)
#d = {'sold_binary':0, 'bedrooms':5,'bathrooms':3,'finished_sq_footage':2000,
     #'lot_size_sq_footage':7405.0,'year_built':1990, 'last_sale_price':250000.0,'home_type':"SingleFamily",'neighborhood':
     #None, 'school_district':None}
#d = pd.DataFrame(data = d, index=[356])
#addData = [new,d]
#new = pd.concat(addData)
df = pd.DataFrame(data = new)
cols_to_transform = [ 'home_type','neighborhood','school_district']
df_dum = pd.get_dummies(data=df,columns = cols_to_transform)
df_dum = df_dum.fillna(df_dum.mean())

In [225]:
array = df_dum.values
print(df_dum)

     sold_binary  bedrooms  bathrooms  finished_sq_footage  \
0              0         3   3.000000                 1830
1              0         3   3.000000                 1754
2              0         3   3.000000                 3132
3              0         4   3.000000                 3745
4              0         3   2.000000                 1975
5              0         4   4.000000                 3127
6              0         3   3.000000                 2158
7              0         4   2.000000                 1938
8              0         3   1.000000                 1350
9              0         5   3.000000                 3456
10             1         4   3.000000                 2500
11             1         3   3.000000                 2126
12             1         4   3.000000                 3389
13             1         3   3.000000                 1889
14             0         3   2.000000                 1761
15             0         3   2.000000                 1485
16             1         3   4.000000                 1965
17             0         4   3.000000                 3076
18             1         3   2.000000                 2484
19             1         4   3.000000                 3210
20             1         4   3.000000                 2880
21             0         3   2.000000                 1670
22             0         4   4.000000                 3048
23             1         5   3.000000                 2901
24             1         3   3.000000                 1850
25             0         4   3.000000                 3254
26             0         4   3.000000                 2590
27             0         3   2.000000                 1846
28             1         4   3.000000                 2370
29             0         3   3.000000                 2745
..           ...       ...        ...                  ...
326            0         3   3.000000                 1956
327            1         3   2.000000                 1859
328            1         3   2.000000                 2322
329            0         3   3.000000                 1800
330            0         4   3.000000                 2689
331            1         3   2.000000                 1400
332            1         4   3.000000                 2259
333            1         3   2.000000                 2428
334            0         4   3.000000                 3200
335            0         3   3.000000                 2438
336            1         3   3.000000                 1838
337            1         4   3.000000                 2774
338            0         3   3.000000                 1830
339            1         3   3.000000                 3122
340            0         3   1.000000                 1140
341            0         3   3.000000                 3001
342            1         3   3.000000                 2291
343            0         4   3.000000                 2830
344            0         4   3.000000                 2547
345            0         4   2.842254                 2526
346            0         3   3.000000                 1999
347            1         4   3.000000                 2776
348            1         4   4.000000                 3552
349            0         3   2.000000                 1647
350            0         4   3.000000                 2597
351            0         4   2.000000                 2467
352            1         3   2.000000                 2450
353            0         3   3.000000                 1682
354            0         4   3.000000                 2800
355            1         3   2.000000                 1626

     lot_size_sq_footage  year_built  last_sale_price  home_type_Condominium  \
0           2.875000e+03      2013.0    262500.000000                      1
1           7.275000e+03      1998.0    350000.000000                      0
2           9.147000e+03      1988.0    290000.000000                      0
3           4.260200e+04      1995.0    320000.000000                      0
4           7.405000e+03      1999.0    342500.000000                      0
5           1.655200e+04      2000.0    320000.000000                      0
6           8.624000e+03      1955.0    389000.000000                      0
7           8.625000e+03      1925.0    310000.000000                      0
8           2.190632e+06      1920.0    312500.000000                      0
9           6.926000e+03      2006.0    270000.000000                      0
10          6.534000e+03      2007.0    268000.000000                      0
11          1.611700e+04      1999.0    275000.000000                      0
12          2.008100e+04      1987.0    362500.000000                      0
13          7.840000e+03      1927.0    300000.000000                      0
14          1.019300e+05      2002.0    314823.817664                      0
15          6.969000e+03      1929.0    314823.817664                      0
16          2.134000e+03      2011.0    270500.000000                      1
17          7.840000e+03      2007.0    272000.000000                      0
18          2.654069e+04      2002.0    379000.000000                      0
19          2.047300e+04      1987.0    351000.000000                      0
20          6.969000e+03      2009.0    283000.000000                      0
21          7.840000e+03      1998.0    260000.000000                      0
22          1.698800e+04      2000.0    342000.000000                      0
23          1.350400e+04      2007.0    283000.000000                      0
24          2.352000e+03      2015.0    260000.000000                      0
25          1.219600e+04      2006.0    351000.000000                      0
26          6.960000e+03      2009.0    263500.000000                      0
27          8.059000e+03      2000.0    384000.000000                      0
28          1.995000e+04      1987.0    335000.000000                      0
29          2.352200e+04      1992.0    314000.000000                      0
..                   ...         ...              ...                    ...
326         1.306800e+05      1959.0    275000.000000                      0
327         8.712000e+04      1998.0    270000.000000                      0
328         4.965800e+04      2001.0    360000.000000                      0
329         8.755600e+04      1985.0    300000.000000                      0
330         1.655200e+04      1989.0    275000.000000                      0
331         1.001800e+04      1985.0    164500.000000                      0
332         8.276400e+04      1983.0    277000.000000                      0
333         1.437400e+04      2007.0    345000.000000                      0
334         1.568100e+04      2007.0    357000.000000                      0
335         2.439300e+04      1987.0    280000.000000                      0
336         2.038600e+04      1999.0    280000.000000                      0
337         1.768500e+04      1984.0    275000.000000                      0
338         3.311000e+03      2012.0    264000.000000                      1
339         8.058000e+03      1988.0    321500.000000                      0
340         9.453000e+03      1920.0    310000.000000                      0
341         1.655200e+04      1988.0    275000.000000                      0
342         1.010600e+04      1994.0    289000.000000                      0
343         1.698800e+04      1989.0    275000.000000                      0
344         1.611700e+04      2001.0    320000.000000                      0
345         1.285000e+04      1997.0    300000.000000                      0
346         2.352000e+03      2001.0    350000.000000                      0
347         2.217200e+04      1986.0    295000.000000                      0
348         3.040400e+04      1987.0    380000.000000                      0
349         7.754000e+03      2003.0    320000.000000                      0
350         3.397600e+04      1988.0    310000.000000                      0
351         1.032400e+04      1900.0    340000.000000                      0
352         7.405000e+03      1930.0    343000.000000                      0
353         3.920000e+03      1930.0    390000.000000                      0
354         2.043000e+04      1985.0    281500.000000                      0
355         1.215300e+04      1909.0    326000.000000                      0

     home_type_Duplex  home_type_Miscellaneous            ...              \
0                   0                        0            ...
1                   0                        1            ...
2                   0                        0            ...
3                   0                        0            ...
4                   0                        0            ...
5                   0                        0            ...
6                   0                        0            ...
7                   0                        0            ...
8                   0                        0            ...
9                   0                        0            ...
10                  0                        0            ...
11                  0                        0            ...
12                  0                        0            ...
13                  0                        0            ...
14                  0                        0            ...
15                  0                        0            ...
16                  0                        0            ...
17                  0                        0            ...
18                  0                        0            ...
19                  0                        0            ...
20                  0                        0            ...
21                  0                        0            ...
22                  0                        0            ...
23                  0                        0            ...
24                  0                        0            ...
25                  0                        0            ...
26                  0                        0            ...
27                  0                        0            ...
28                  0                        0            ...
29                  0                        0            ...
..                ...                      ...            ...
326                 0                        0            ...
327                 0                        0            ...
328                 0                        0            ...
329                 0                        0            ...
330                 0                        0            ...
331                 0                        0            ...
332                 0                        0            ...
333                 0                        0            ...
334                 0                        0            ...
335                 0                        0            ...
336                 0                        0            ...
337                 0                        0            ...
338                 0                        0            ...
339                 0                        0            ...
340                 0                        0            ...
341                 0                        0            ...
342                 0                        0            ...
343                 0                        0            ...
344                 0                        0            ...
345                 0                        1            ...
346                 0                        0            ...
347                 0                        0            ...
348                 0                        0            ...
349                 0                        0            ...
350                 0                        0            ...
351                 0                        0            ...
352                 0                        0            ...
353                 0                        0            ...
354                 0                        0            ...
355                 0                        0            ...

     neighborhood_WhiteHall  neighborhood_Winstead  school_district_DURHAM  \
0                         0                      0                       0
1                         0                      0                       0
2                         0                      0                       0
3                         0                      0                       0
4                         0                      0                       0
5                         0                      0                       0
6                         0                      0                       0
7                         0                      0                       0
8                         0                      0                       0
9                         0                      0                       0
10                        0                      0                       0
11                        0                      0                       0
12                        0                      0                       0
13                        0                      0                       0
14                        0                      0                       0
15                        0                      0                       0
16                        0                      0                       0
17                        0                      0                       0
18                        0                      0                       0
19                        0                      0                       0
20                        0                      0                       0
21                        0                      0                       0
22                        0                      0                       0
23                        0                      0                       0
24                        0                      0                       0
25                        0                      0                       0
26                        0                      0                       0
27                        0                      0                       0
28                        0                      0                       0
29                        0                      0                       0
..                      ...                    ...                     ...
326                       0                      0                       0
327                       0                      0                       0
328                       0                      0                       0
329                       0                      0                       0
330                       0                      0                       0
331                       0                      0                       0
332                       0                      0                       0
333                       0                      0                       0
334                       0                      0                       0
335                       0                      0                       0
336                       0                      0                       0
337                       0                      0                       0
338                       0                      0                       0
339                       0                      0                       0
340                       0                      0                       0
341                       0                      0                       0
342                       0                      0                       0
343                       0                      0                       0
344                       0                      0                       0
345                       0                      0                       0
346                       0                      0                       0
347                       0                      0                       0
348                       0                      0                       0
349                       0                      0                       0
350                       0                      0                       0
351                       0                      0                       0
352                       0                      0                       0
353                       0                      0                       0
354                       0                      0                       0
355                       0                      0                       0

     school_district_DURHAM PUBLIC SCHOOLS  school_district_Durham  \
0                                        0                       0
1                                        0                       0
2                                        0                       0
3                                        0                       0
4                                        0                       0
5                                        0                       0
6                                        0                       0
7                                        0                       0
8                                        0                       0
9                                        0                       0
10                                       0                       0
11                                       0                       0
12                                       0                       0
13                                       0                       0
14                                       0                       0
15                                       0                       0
16                                       0                       0
17                                       0                       0
18                                       0                       0
19                                       0                       0
20                                       0                       0
21                                       0                       0
22                                       0                       0
23                                       0                       0
24                                       0                       0
25                                       0                       0
26                                       0                       0
27                                       0                       0
28                                       0                       0
29                                       0                       0
..                                     ...                     ...
326                                      0                       0
327                                      0                       0
328                                      0                       0
329                                      0                       0
330                                      0                       0
331                                      0                       0
332                                      0                       0
333                                      0                       0
334                                      0                       0
335                                      0                       0
336                                      0                       0
337                                      0                       0
338                                      0                       0

In [226]:
X = array[:,1:35]
Y = array[:,0]

In [227]:
train, test = train_test_split(df_dum, test_size = 0.3)

In [228]:
features = df_dum.columns[1:35]
print(features)

Index([                                                  u'bedrooms',
                                                        u'bathrooms',
                                              u'finished_sq_footage',
                                              u'lot_size_sq_footage',
                                                       u'year_built',
                                                  u'last_sale_price',
                                            u'home_type_Condominium',
                                                 u'home_type_Duplex',
                                          u'home_type_Miscellaneous',
                                        u'home_type_MultiFamily2To4',
                                           u'home_type_SingleFamily',
                                              u'home_type_Townhouse',
                                  u'neighborhood_124 - North Durham',
                          u'neighborhood_Across From Durham Academy',
                                    u'neighborhood_American Village',
                                       u'neighborhood_Garrett Farms',
                                                u'neighborhood_None',
                                 u'neighborhood_The Carillion Woods',
                                            u'neighborhood_Walltown',
                                           u'neighborhood_Waterford',
                                    u'neighborhood_Watts Hillandale',
                          u'neighborhood_Watts Hospital -Hillandale',
                                 u'neighborhood_Watts Hospital Area',
                           u'neighborhood_Watts Hospital Hillandale',
                                    u'neighborhood_Watts-Hillandale',
                                           u'neighborhood_WhiteHall',
                                            u'neighborhood_Winstead',
                                           u'school_district_DURHAM',
                            u'school_district_DURHAM PUBLIC SCHOOLS',
                                           u'school_district_Durham',
                                    u'school_district_Durham County',
       u'school_district_Durham Public Schools (Jordan High School)',
                      u'school_district_Durham county School System',
                                             u'school_district_None'],
      dtype='object')

In [229]:
seed = 7
max_features = 3
#rf = RandomForestClassifier(n_estimators=100, max_features="auto",oob_score = True, 
                           # n_jobs = -1,random_state =50,min_samples_leaf = 50)
rf = RandomForestClassifier(n_estimators=100, max_features=max_features)
y, _ = pd.factorize(train['sold_binary'])
#y = train['sold_binary']
rf.fit(train[features], y)
#rf.fit(df_dum,y)
preds = rf.predict(test[features])
#preds = rf.predict(df_dum)
kfold = model_selection.KFold(n_splits=10, random_state=seed)
results = model_selection.cross_val_score(rf, test[features], test['sold_binary'], cv=kfold)
print(precision_recall_fscore_support(test['sold_binary'], preds, average='micro'))
print(results.mean())
print "Features sorted by their score:"
print sorted(zip(map(lambda x: round(x, 4), rf.feature_importances_), features), 
             reverse=True)


# initialize

(0.89719626168224298, 0.89719626168224298, 0.89719626168224298, None)
0.630735930736
Features sorted by their score:
[(0.2252, 'finished_sq_footage'), (0.2122, 'lot_size_sq_footage'), (0.2019, 'year_built'), (0.2002, 'last_sale_price'), (0.0454, 'bedrooms'), (0.0453, 'bathrooms'), (0.0133, u'neighborhood_None'), (0.0125, u'school_district_None'), (0.0055, u'home_type_SingleFamily'), (0.0048, u'home_type_Townhouse'), (0.0038, u'neighborhood_American Village'), (0.0034, u'school_district_Durham'), (0.003, u'school_district_DURHAM PUBLIC SCHOOLS'), (0.003, u'neighborhood_The Carillion Woods'), (0.0026, u'neighborhood_Garrett Farms'), (0.0021, u'home_type_Condominium'), (0.0017, u'school_district_Durham Public Schools (Jordan High School)'), (0.0017, u'school_district_Durham County'), (0.0015, u'neighborhood_124 - North Durham'), (0.0014, u'neighborhood_Across From Durham Academy'), (0.0012, u'neighborhood_Watts-Hillandale'), (0.0012, u'neighborhood_Watts Hospital Hillandale'), (0.0012, u'neighborhood_Watts Hillandale'), (0.001, u'neighborhood_Winstead'), (0.001, u'neighborhood_Waterford'), (0.0008, u'neighborhood_Watts Hospital Area'), (0.0008, u'neighborhood_Walltown'), (0.0007, u'school_district_DURHAM'), (0.0006, u'school_district_Durham county School System'), (0.0005, u'neighborhood_WhiteHall'), (0.0005, u'neighborhood_Watts Hospital -Hillandale'), (0.0, u'home_type_MultiFamily2To4'), (0.0, u'home_type_Miscellaneous'), (0.0, u'home_type_Duplex')]

In [230]:
print(preds)

[1 1 0 0 0 0 1 0 1 0 0 0 0 0 1 1 0 0 1 0 0 1 0 0 0 0 0 0 1 1 1 1 1 0 1 1 0
 0 1 0 0 0 1 0 0 0 1 1 0 0 1 0 1 0 0 0 1 0 0 1 1 1 0 0 0 0 0 1 1 1 1 0 1 0
 0 0 0 0 0 0 0 1 1 1 0 0 0 1 0 1 0 0 0 1 0 0 0 1 1 0 0 0 1 1 1 1 0 0 0 1 1
 0 1 0 1 1 1 0 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 1 1 0 1 0 0 0 0 0 0 1 1 0 0 0
 0 0 0 0 0 1 1 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 1 0 1 1 0 1
 0 0 1 0 1 0 1 1 0 0 0 1 1 0 0 1 1 1 0 1 0 1 1 1 0 1 1 0 1]